@model Entities.Rentals
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SocietyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SocietyId)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>